<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BannerWithLab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37314C271BFADA52004307F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37314C431BFADA52004307F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37314C4E1BFADA52004307F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
